* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button {
    padding: 0.3rem 0.8rem;
}

body>main {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
}

main>canvas {
    margin: 0 auto;
    background-color: #ccc;
}

.description {
    width: 100vw;
    max-width: 640px;
    margin: 0 auto;
    padding: 0.4rem;
    text-align: center;
}

.settings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100vw;
    max-width: 640px;
    margin: 0 auto;
    gap: 0.2rem;
    justify-content: center;
    text-align: center;
}

.settings>div {
    width: 100%;
}

.settings button {
    margin: 0.2rem;
}
