* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body>main {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    max-width: 640px;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
}

main>canvas {
    width: 100vw;
    max-width: 640px;
    background-color: #ccc;
    ;
}

.description {
    max-width: 640px;
    padding: 0.4rem;
}

.settings {
    display: grid;
    grid-template-columns: auto;
    max-width: 640px;
    gap: 0.4rem;
    justify-content: center;
}

.settings input[type=number] {
    width: 3rem;
    text-align: right;
}
